* {
    box-sizing: border-box;
}

body {
    background-color: #51017c;
    color: #EEDAA5;
}

ul {
    display: block;
    list-style-type: none;
    padding: 0;
}

li + li {
    margin-top: 12px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

a:link,
a:visited {
    color: #51017C;
    text-decoration: none;
}

a:hover {
    color: #B9379D;
}

/* Home Page CSS */

.heading-container {
    text-align: center;
    font-size: 24px;
}

.breakfast-heading,
.dinner-heading,
.refreshment-heading {
    text-align: center;
}

.breakfast-list,
.dinner-list,
.refreshment-list {
    color: #51017C;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    width: 600px;
    border-radius: 15px;
    background-color: #EEDAA5;
    margin: 50px auto;
    padding: 10px 10px;
    box-shadow: 8px 8px 2px #00000086;
}

/* Recipe Page CSS */

.recipe-header-container .heading {
    color: #51017C;
    font-size: 50px;
    text-align: center;
    width: 600px;
    border-radius: 15px;
    background-color: #EEDAA5;
    margin: 30px auto;
    padding: 10px 10px;
    box-shadow: 8px 8px 2px #00000086;
}

.recipe-header-container .heading-author {
    font-size: 26px;
    text-align: center;
    margin: 10px auto 50px;
}

.recipe-steps-container .recipe-image {
    height: auto;
    width: 250px;
    border-radius: 15px;
}

.recipe-steps-container .recipe-steps {
    color: #51017C;
    font-size: 23px;
    text-align: center;
    width: 600px;
    border-radius: 15px;
    background-color: #EEDAA5;
    margin: 30px auto;
    padding: 10px 10px;
    box-shadow: 8px 8px 2px #00000086;
}





.home-page-button {
    font-size: 24px;
    color: #51017C;
    background-color: #EEDAA5;
    text-align: center;
    border-radius: 15px;
    width: 318px;
    padding: 15px 15px;
    
}

.recipe-footer-container {
    text-align: center;
    margin-top: 50px;
}